.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #262626;
    color: white;
    box-sizing: border-box;
    margin-top: 28rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  
    .leftSide {
      margin-left: 2rem;
      flex: 1;
  
      .heading {
        font-size: 1.5em;
        margin-bottom: 2rem;
      }
  
      .form {
        display: flex;
        flex-direction: column;
  
        .input {
          margin-bottom: 10px;
          padding: 10px;
          border: none;
          width: 400px;
          margin-bottom: 1rem;
        }
  
        .button {
          padding: 10px;
          background-color: #00000088;
          color: white;
          border: none;
          cursor: pointer;
          border: 1px solid white;
          margin-top: 2rem;
          width: 200px;
        }
      }
    }
  
    .rightSide {
      display: flex;
      justify-content: space-between;
      flex: 1;
  
      .quickLinks {
        flex: 1;
  
        .linksList {
          list-style: none;
          padding: 0;
          margin: 0;
  
          li {
            margin-bottom: 10px;
  
            a {
              color: white;
              text-decoration: none;
            }
          }
        }
  
        .socialMedia {
          display: flex;
          gap: 10px;
  
          .socialIcon {
            font-size: 2em;
            color: white;
            text-decoration: none;
          }
        }
      }
  
      .contactInfo {
        flex: 1;
      }
    }
  }